

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 

.container {
   margin-left: auto;
   margin-right: auto;
   max-width: 1120px;
   min-width: 320px;
   Height: 509px;
   margin-top:0px; 
   background-color: #F8F8F8;
} 

header {
   display: flex; 
   height: 88px;
   background-color: #FFFFFF;
} 

.buttonAndLogo {
   display: flex;
   align-items: center;
}

.logo {
   display: flex;
   margin-left: 20px;
   background-color: #FFFFFF;
   border: #FFFFFF;
}

.readMore {
   width: 110px;
   height: 24px;
   font-family: TT Lakes;
   font-size: 16px;
   color: #1B1C21;
   background-color: #F8F8F8;
   border: 0;
   margin-left: 10%;
   margin-top: 15px;
}

.buttonAndLogo::after{
   content: '';
   width:2px;
   height:32px;
   margin-left:18px;
   margin-top:28px;
   background-color: #EAEAEA;
}

.buttons {  
   align-items: center;
   display: flex;
   margin-left: auto; 
}

li { list-style: none;
   display: inline-block;
}

 a {  
   font-family: 'TT Lakes';
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.2px;
   color: #7E7E82;
}

a:hover { color: blue; }

.main__title {  
   font-family: 'TT Lakes';
   font-size: 28px;
   line-height: 40px;
   letter-spacing: -0.6px;
   margin-left:16px;
   color: #1B1C21;
   margin-top: 4px;
}

h1::before {
   content: '';
   width:4px;
   height:40px;
   margin-left:-15px;
   background-color: #41F6D7;
   position: absolute;
}

.main__brends {
   margin-left:16px;
   border: 2px solid #B8FFEC;
   background-color: #FFFFFF;
   border-color: #B8FFEC;
   border-radius: 6px;
   padding: 7px;
}

.text p {
   font-family: 'TT Lakes';
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 0.2px;
   margin-left: 3%;
   margin-right: 3%;
   margin-top: 24px;
   letter-spacing: 0.2px;
   min-width: 290px;
   max-width: 490px;
}

.content {
   display: flex;
   justify-content: space-around;
}

.pic img {
   max-width: 100%;
}

.main__navigation {
   overflow-x: scroll;
   white-space: nowrap;
   margin-top: 15px;
   display: flex;
   align-items: center;
   height: 40px;
   overflow-x: scroll;
}

.main__navigation::-webkit-scrollbar {
   height: 0; 
 }

.main__list {
   display: flex;
   column-gap: 40px;
}

.button_icon_burger {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   width: 40px;
   border-radius: 20px;
   background: #FF3E79;
   border-color: #FF3E79;
   border: 0;
   margin-left: 10px;
   margin-right: 10px;

   background-image: url('data:image/svg+xml,\
   <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">\
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0H17C17.5523 0 18 0.447715 18 1C18 1.55228 17.5523 2 17 2H1C0.447716 2 0 1.55228 0 1ZM0 8C0 7.44772 0.447715 7 1 7H9C9.55228 7 10 7.44772 10 8C10 8.55229 9.55229 9 9 9H1C0.447715 9 0 8.55229 0 8ZM1 14C0.447715 14 0 14.4477 0 15C0 15.5523 0.447716 16 1 16H13C13.5523 16 14 15.5523 14 15C14 14.4477 13.5523 14 13 14H1Z" fill="white"/>\
</svg>');

   background-repeat: no-repeat;
   background-position: center;
 }

.button_icon_repair {
   display: flex;
   vertical-align: middle;
   align-items: center;
   height: 40px;
   width: 40px;
   border-radius: 20px;
   background: #FF3E79;
   border-color: #FF3E79;
   border: 0;
   margin-left: 10px;
   margin-right: 10px;

   background-image: url('data:image/svg+xml,\
   <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">\
<path d="M8.25807 13.4583L8.66685 13.0494L6.94998 11.3322L6.54121 11.7411L6.33682 11.5367C6.0098 11.1687 5.68278 10.9643 5.35575 11.0052C5.11049 11.0052 4.9061 11.1687 4.74259 11.414C4.49732 11.8229 4.61996 12.2726 4.66083 12.5588C4.66083 12.6406 4.70171 12.6815 4.70171 12.7632C4.70171 12.8859 4.70171 13.0494 4.41557 13.0903C4.00679 13.213 3.47538 13.3356 2.94397 13.6218C2.20817 14.0307 1.71764 14.3987 1.4315 14.7666C-0.0809772 16.7291 0.000778159 18.4055 0.000778159 18.4872C0.000778159 18.6099 0.0416558 18.6917 0.123411 18.7325L1.22711 19.8773C1.30886 19.9591 1.39062 20 1.47237 20C1.47237 20 1.51325 20 1.59501 20C2.00378 20 3.47538 19.9182 5.19224 18.569C5.56014 18.2828 5.92804 17.7922 6.33682 17.0562C6.62296 16.5656 6.78647 16.0341 6.86823 15.5844C6.94998 15.2982 7.07262 15.2982 7.19525 15.2982C7.23613 15.2982 7.31788 15.339 7.39964 15.339C7.56315 15.3799 7.72666 15.4208 7.93105 15.4208C8.13544 15.4208 8.33983 15.3799 8.54421 15.2573C8.78948 15.0937 8.95299 14.8893 8.99387 14.644C9.03475 14.3169 8.87124 13.9898 8.50334 13.7036L8.25807 13.4583Z" fill="white"/>\
<path d="M16.884 4.87841L18.0188 4.32603C18.0609 4.28354 18.1449 4.24105 18.1869 4.19856L19.9101 1.86157C20.0362 1.69161 20.0362 1.43667 19.8681 1.3092L18.6913 0.119458C18.5652 -0.00801422 18.313 -0.0505049 18.1449 0.076967L15.8333 1.81908C15.7913 1.86157 15.7493 1.90406 15.7072 1.98905L15.1609 3.13629L11 7.21539L12.7652 9L16.884 4.87841Z" fill="white"/>\
<path d="M17.8527 13.0448C16.8636 12.0036 15.4393 11.6288 14.0941 12.0036L7.64527 5.17331C7.72439 4.79848 7.76396 4.46529 7.76396 4.09046C7.76396 3.04926 7.36832 2.00806 6.61661 1.21675C5.58796 0.0922529 4.04498 -0.282579 2.6207 0.217197C2.54157 0.258845 2.42288 0.383789 2.38331 0.550381C2.38331 0.675325 2.42288 0.800269 2.50201 0.925213L4.44062 2.96597C4.87582 3.42409 4.87582 4.21541 4.44062 4.67353C4.00542 5.13166 3.25371 5.13166 2.81851 4.67353L0.8799 2.63278C0.76121 2.54949 0.642519 2.50784 0.484265 2.54949C0.365574 2.54949 0.246884 2.67443 0.20732 2.79937C-0.267442 4.25705 0.0886295 5.88133 1.11728 6.96417C1.82943 7.75549 2.85808 8.17197 3.88673 8.17197C4.20324 8.17197 4.55931 8.13032 4.87582 8.04702L11.3642 14.8773C11.0082 16.2933 11.4038 17.7927 12.3533 18.8339C13.105 19.6252 14.0546 20 15.0832 20C15.5184 20 15.914 19.9167 16.3492 19.7918C16.4679 19.7501 16.5866 19.6252 16.6262 19.5002C16.6658 19.3753 16.6262 19.2087 16.5075 19.1254L14.5689 17.0846C14.3711 16.8764 14.2128 16.5432 14.2128 16.21C14.2128 15.8768 14.3315 15.5853 14.5689 15.3354C14.8063 15.0855 15.0832 14.9606 15.3997 14.9606C15.7162 14.9606 15.9932 15.0855 16.2306 15.3354L18.1692 17.3762C18.2879 17.4595 18.4065 17.5011 18.5252 17.5011C18.6439 17.4595 18.7626 17.3762 18.8022 17.2512C18.9209 16.8348 19 16.3766 19 15.9185C19 14.8356 18.6044 13.7944 17.8527 13.0448Z" fill="white"/>\
</svg>');

   background-repeat: no-repeat;
   background-position: center;
}

.button_icon_checkstatus {
   height: 40px;
   width: 40px;
   border-radius: 20px;
   background: #FF3E79;
   border-color: #FF3E79;
   border: 0;
   margin-left: 10px;
   margin-right: 10px;

   background-image: url('data:image/svg+xml,\
   <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">\
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447716 16 1V18.5C15.1716 18.5 14.5001 19.1715 14.5 19.9999H13.5C13.4999 19.1715 12.8284 18.5 12 18.5C11.1716 18.5 10.5001 19.1715 10.5 19.9999H9.5C9.49995 19.1715 8.82839 18.5 8 18.5C7.17161 18.5 6.50005 19.1715 6.5 19.9999H5.5C5.49995 19.1715 4.82839 18.5 4 18.5C3.17161 18.5 2.50005 19.1715 2.5 19.9999H1.5C1.49995 19.1715 0.828394 18.5 0 18.5V1ZM9.41631 11.7884C8.55357 12.3443 7.47034 12.5936 6.32961 12.3827C4.52743 12.0472 3.08953 10.5326 2.85946 8.71137C2.4952 5.82607 4.94922 3.42006 7.85379 3.88018C9.65596 4.16775 11.1034 5.64395 11.4006 7.43647C11.5828 8.54841 11.3239 9.57408 10.7871 10.4272L12.896 12.5265C13.2699 12.9003 13.2699 13.5138 12.896 13.8876C12.5126 14.2711 11.8991 14.2711 11.5252 13.8972L9.41631 11.7884ZM4.70588 8.05876C4.70588 6.75994 5.76 5.70582 7.05882 5.70582C8.35765 5.70582 9.41176 6.75994 9.41176 8.05876C9.41176 9.35758 8.35765 10.4117 7.05882 10.4117C5.76 10.4117 4.70588 9.35758 4.70588 8.05876Z" fill="white"/>\
</svg>');

   background-repeat: no-repeat;
   background-position: center;
}

@media screen and (max-width: 320px) {

   .content {
      flex-wrap: wrap;
   }

   .pic img {
      margin-top: 15px;
   }

 }

